In [2]:
# import the necessary packages
import mysql.connector
from mysql.connector import Error
import pandas as pd
import os
import time

In [18]:
# 連接資料庫
connection = mysql.connector.connect(
    host='localhost',  # 主機名稱
    database='example',  # 資料庫名稱
    user='root',  # 帳號
    password='root'
)  # 密碼
if connection.is_connected():
    # 顯示資料庫版本
    db_Info = connection.get_server_info()
    print("資料庫版本：", db_Info)

    # 顯示目前使用的資料庫
    cur = connection.cursor()
    cur.execute("SELECT DATABASE();")
    record = cur.fetchone()
    print("目前使用的資料庫：", record)

資料庫版本： 5.5.5-10.11.2-MariaDB
目前使用的資料庫： ('example',)

In [4]:
#讀取資料
Data= os.path.join('fake_data.csv') #原始資料
df = pd.read_csv(Data)
df.head()

   id   name  gender  age  height_cm  weight_kg         country    position
0   1    Amy       0   18        160         48          Taiwan     Student
1   2   John       1   25        175         75   United States  Programmer
2   3  Sarah       0   33        168         62          Canada      Doctor
3   4  David       1   42        180         85       Australia    Engineer
4   5  Emily       0   29        162         52  United Kingdom     Teacher

In [5]:
df.dtypes

id            int64
name         object
gender        int64
age           int64
height_cm     int64
weight_kg     int64
country      object
position     object
dtype: object

In [6]:
df.columns

Index(['id', 'name', 'gender', 'age', 'height_cm', 'weight_kg', 'country',
       'position'],
      dtype='object')

In [66]:
#transform datatype (in a simple way)
#for col in df.select_dtypes(include=['int64']):
#    df[col] = df[col].astype('int32')

In [7]:
#transform datatype
df = df.astype('str')

In [13]:
#Insert
t0 = time.time()
columns = ','.join([f'{x}' for x in df.columns])
param_placeholders = ','.join(['%s' for x in range(len(df.columns))])

def insert(c0, c1, c2, c3, c4, c5, c6, c7):
    try:
        insertStatement = f"INSERT INTO profile ({columns}) VALUES ({param_placeholders})"
        data = (c0, c1, c2, c3, c4, c5, c6, c7)
        cur.execute(insertStatement, data)
        connection.commit()
        print(time.time()-t0)
        print("Successfully added entry to database")
    except Error as e:
        print(f"Error adding entry to database: {e}")

col_m = df.columns.to_list()
for i in range(len(df)):
    insert(df[col_m[0]][i], df[col_m[1]][i], df[col_m[2]][i], df[col_m[3]][i], df[col_m[4]][i], df[col_m[5]][i], df[col_m[6]][i], df[col_m[7]][i])

0.0020003318786621094
Successfully added entry to database
0.003998517990112305
Successfully added entry to database
0.005000114440917969
Successfully added entry to database
0.006001710891723633
Successfully added entry to database
0.007000923156738281
Successfully added entry to database
0.008000850677490234
Successfully added entry to database
0.008000850677490234
Successfully added entry to database
0.009000301361083984
Successfully added entry to database
0.010000467300415039
Successfully added entry to database
0.010998249053955078
Successfully added entry to database
0.011998891830444336
Successfully added entry to database
0.012998819351196289
Successfully added entry to database
0.014000415802001953
Successfully added entry to database
0.014000415802001953
Successfully added entry to database
0.014998912811279297
Successfully added entry to database
0.01599907875061035
Successfully added entry to database
0.01599907875061035
Successfully added entry to database
0.016999006271362305
Successfully added entry to database
0.017999649047851562
Successfully added entry to database
0.018999338150024414
Successfully added entry to database
0.018999338150024414
Successfully added entry to database
0.019999980926513672
Successfully added entry to database
0.02100062370300293
Successfully added entry to database
0.02199864387512207
Successfully added entry to database
0.04699993133544922
Successfully added entry to database
0.04799985885620117
Successfully added entry to database
0.04899859428405762
Successfully added entry to database
0.05100107192993164
Successfully added entry to database
0.05200028419494629
Successfully added entry to database
0.05300021171569824
Successfully added entry to database
0.05300021171569824
Successfully added entry to database
0.053998708724975586
Successfully added entry to database
0.05501580238342285
Successfully added entry to database
0.055999040603637695
Successfully added entry to database
0.05699968338012695
Successfully added entry to database
0.0579991340637207
Successfully added entry to database
0.05900096893310547
Successfully added entry to database
0.059999942779541016
Successfully added entry to database
0.060999155044555664
Successfully added entry to database
0.06199979782104492
Successfully added entry to database
0.06300044059753418
Successfully added entry to database
0.06300044059753418
Successfully added entry to database
0.06399893760681152
Successfully added entry to database
0.06499862670898438
Successfully added entry to database
0.06599879264831543
Successfully added entry to database
0.06599879264831543
Successfully added entry to database
0.06700015068054199
Successfully added entry to database
0.06800079345703125
Successfully added entry to database
0.0689992904663086
Successfully added entry to database
0.0689992904663086
Successfully added entry to database
0.07008504867553711
Successfully added entry to database
0.0709984302520752
Successfully added entry to database
0.07199931144714355
Successfully added entry to database
0.07199931144714355
Successfully added entry to database
0.07299923896789551
Successfully added entry to database
0.07399892807006836
Successfully added entry to database
0.07499933242797852
Successfully added entry to database
0.07499933242797852
Successfully added entry to database
0.07599973678588867
Successfully added entry to database
0.07699894905090332
Successfully added entry to database
0.07799863815307617
Successfully added entry to database
0.07799863815307617
Successfully added entry to database
0.07900071144104004
Successfully added entry to database
0.07999873161315918
Successfully added entry to database
0.07999873161315918
Successfully added entry to database
0.08099913597106934
Successfully added entry to database
0.08199810981750488
Successfully added entry to database
0.08199810981750488
Successfully added entry to database
0.0839989185333252
Successfully added entry to database
0.0839989185333252
Successfully added entry to database
0.08499979972839355
Successfully added entry to database
0.0859990119934082
Successfully added entry to database
0.0859990119934082
Successfully added entry to database
0.08700013160705566
Successfully added entry to database
0.08799910545349121
Successfully added entry to database
0.08799910545349121
Successfully added entry to database
0.08899855613708496
Successfully added entry to database
0.08999919891357422
Successfully added entry to database
0.08999919891357422
Successfully added entry to database
0.09099888801574707
Successfully added entry to database
0.09199905395507812
Successfully added entry to database
0.09299921989440918
Successfully added entry to database
0.09299921989440918
Successfully added entry to database
0.09399890899658203
Successfully added entry to database
0.09499907493591309
Successfully added entry to database
0.09499907493591309
Successfully added entry to database
0.09599900245666504
Successfully added entry to database
0.0969991683959961
Successfully added entry to database
0.09799981117248535
Successfully added entry to database
0.0989992618560791
Successfully added entry to database
0.09999895095825195
Successfully added entry to database
0.10099959373474121
Successfully added entry to database
0.10299897193908691
Successfully added entry to database
0.10399866104125977
Successfully added entry to database
0.10399866104125977
Successfully added entry to database
0.10500049591064453
Successfully added entry to database
0.10599875450134277
Successfully added entry to database
0.10699939727783203
Successfully added entry to database
0.10699939727783203
Successfully added entry to database
0.10799908638000488
Successfully added entry to database

In [10]:
# Insert (精簡版)
t0 = time.time()
columns = ','.join([f'{x}' for x in df.columns])
param_placeholders = ','.join(['%s' for x in range(len(df.columns))])

def insert(*args):
    try:
        insertStatement = f"INSERT INTO profile ({columns}) VALUES ({param_placeholders})"
        cur.execute(insertStatement, args)
        connection.commit()
        print(time.time()-t0)
        print("Successfully added entry to database")
    except Error as e:
        print(f"Error adding entry to database: {e}")

for i in range(len(df)):
    insert(*df.iloc[i])

0.0019981861114501953
Successfully added entry to database
0.002997875213623047
Successfully added entry to database
0.003999233245849609
Successfully added entry to database
0.004998207092285156
Successfully added entry to database
0.006000041961669922
Successfully added entry to database
0.006998777389526367
Successfully added entry to database
0.008998394012451172
Successfully added entry to database
0.008998394012451172
Successfully added entry to database
0.009997367858886719
Successfully added entry to database
0.010996818542480469
Successfully added entry to database
0.01199650764465332
Successfully added entry to database
0.01199650764465332
Successfully added entry to database
0.012996673583984375
Successfully added entry to database
0.013999223709106445
Successfully added entry to database
0.014998435974121094
Successfully added entry to database
0.014998435974121094
Successfully added entry to database
0.015999317169189453
Successfully added entry to database
0.016999483108520508
Successfully added entry to database
0.017998218536376953
Successfully added entry to database
0.018999814987182617
Successfully added entry to database
0.019999265670776367
Successfully added entry to database
0.020998716354370117
Successfully added entry to database
0.02199840545654297
Successfully added entry to database
0.02199840545654297
Successfully added entry to database
0.02299785614013672
Successfully added entry to database
0.023998498916625977
Successfully added entry to database
0.024997949600219727
Successfully added entry to database
0.025999784469604492
Successfully added entry to database
0.02699756622314453
Successfully added entry to database
0.02699756622314453
Successfully added entry to database
0.02799820899963379
Successfully added entry to database
0.028998136520385742
Successfully added entry to database
0.0299985408782959
Successfully added entry to database
0.03099822998046875
Successfully added entry to database
0.031998395919799805
Successfully added entry to database
0.03299832344055176
Successfully added entry to database
0.03399825096130371
Successfully added entry to database
0.034998178482055664
Successfully added entry to database
0.03599834442138672
Successfully added entry to database
0.037000179290771484
Successfully added entry to database
0.03899955749511719
Successfully added entry to database
0.03899955749511719
Successfully added entry to database
0.039998531341552734
Successfully added entry to database
0.040998220443725586
Successfully added entry to database
0.04199814796447754
Successfully added entry to database
0.042398691177368164
Successfully added entry to database
0.042998313903808594
Successfully added entry to database
0.04399752616882324
Successfully added entry to database
0.0449976921081543
Successfully added entry to database
0.0449976921081543
Successfully added entry to database
0.045998334884643555
Successfully added entry to database
0.04699850082397461
Successfully added entry to database
0.047997474670410156
Successfully added entry to database
0.047997474670410156
Successfully added entry to database
0.04899859428405762
Successfully added entry to database
0.04999804496765137
Successfully added entry to database
0.05099940299987793
Successfully added entry to database
0.05199837684631348
Successfully added entry to database
0.05299782752990723
Successfully added entry to database
0.05299782752990723
Successfully added entry to database
0.05399942398071289
Successfully added entry to database
0.05499863624572754
Successfully added entry to database
0.05599832534790039
Successfully added entry to database
0.05699777603149414
Successfully added entry to database
0.05799722671508789
Successfully added entry to database
0.05899930000305176
Successfully added entry to database
0.0599980354309082
Successfully added entry to database
0.0599980354309082
Successfully added entry to database
0.06099820137023926
Successfully added entry to database
0.06199812889099121
Successfully added entry to database
0.06299924850463867
Successfully added entry to database
0.06399798393249512
Successfully added entry to database
0.06399798393249512
Successfully added entry to database
0.06499767303466797
Successfully added entry to database
0.06599807739257812
Successfully added entry to database
0.06699800491333008
Successfully added entry to database
0.06699800491333008
Successfully added entry to database
0.06799817085266113
Successfully added entry to database
0.06899809837341309
Successfully added entry to database
0.06999802589416504
Successfully added entry to database
0.06999802589416504
Successfully added entry to database
0.0710000991821289
Successfully added entry to database
0.07199883460998535
Successfully added entry to database
0.0729978084564209
Successfully added entry to database
0.0729978084564209
Successfully added entry to database
0.07399821281433105
Successfully added entry to database
0.0749979019165039
Successfully added entry to database
0.07599902153015137
Successfully added entry to database
0.07599902153015137
Successfully added entry to database
0.07699775695800781
Successfully added entry to database
0.07799792289733887
Successfully added entry to database
0.07899808883666992
Successfully added entry to database
0.07999801635742188
Successfully added entry to database
0.07999801635742188
Successfully added entry to database
0.08099794387817383
Successfully added entry to database
0.08199787139892578
Successfully added entry to database
0.08299851417541504
Successfully added entry to database
0.08399820327758789
Successfully added entry to database
0.08399820327758789
Successfully added entry to database
0.08499741554260254
Successfully added entry to database

In [16]:
# Update
columns = df.columns.tolist()
param_placeholders = ','.join([f'{col}=%s' for col in columns if col != 'id'])


## 將id作為primary key以更新其餘欄位 (注意最後的%s為id，因此所對應c7的部分也應為id欄位)
def update(c0, c1, c2, c3, c4, c5, c6, c7):
    try:
        updateStatement = f"UPDATE profile SET {param_placeholders} WHERE id = %s"
        data = (c0, c1, c2, c3, c4, c5, c6, c7)
        cur.execute(updateStatement, data)
        connection.commit()
        print(time.time()-t0)
        print("Successfully updated entry to database")
    except Error as e:
        print(f"Error updating entry to database: {e}")
        
t0 = time.time()
for index, row in df.iterrows():
    update(row['name'], row['gender'], row['age'], row['height_cm'], row['weight_kg'], row['country'], row['position'], row['id'])

0.002000570297241211
Successfully updated entry to database
0.0030007362365722656
Successfully updated entry to database
0.004002809524536133
Successfully updated entry to database
0.004002809524536133
Successfully updated entry to database
0.005001068115234375
Successfully updated entry to database
0.005001068115234375
Successfully updated entry to database
0.0060002803802490234
Successfully updated entry to database
0.0060002803802490234
Successfully updated entry to database
0.007001399993896484
Successfully updated entry to database
0.007001399993896484
Successfully updated entry to database
0.007001399993896484
Successfully updated entry to database
0.00800013542175293
Successfully updated entry to database
0.00800013542175293
Successfully updated entry to database
0.009000301361083984
Successfully updated entry to database
0.009000301361083984
Successfully updated entry to database
0.009000301361083984
Successfully updated entry to database
0.010000467300415039
Successfully updated entry to database
0.010000467300415039
Successfully updated entry to database
0.010000467300415039
Successfully updated entry to database
0.010999679565429688
Successfully updated entry to database
0.010999679565429688
Successfully updated entry to database
0.012000083923339844
Successfully updated entry to database
0.012000083923339844
Successfully updated entry to database
0.013004541397094727
Successfully updated entry to database
0.013004541397094727
Successfully updated entry to database
0.013004541397094727
Successfully updated entry to database
0.014002561569213867
Successfully updated entry to database
0.014002561569213867
Successfully updated entry to database
0.014002561569213867
Successfully updated entry to database
0.014999628067016602
Successfully updated entry to database
0.014999628067016602
Successfully updated entry to database
0.015999555587768555
Successfully updated entry to database
0.015999555587768555
Successfully updated entry to database
0.015999555587768555
Successfully updated entry to database
0.015999555587768555
Successfully updated entry to database
0.017000436782836914
Successfully updated entry to database
0.017000436782836914
Successfully updated entry to database
0.017000436782836914
Successfully updated entry to database
0.01800060272216797
Successfully updated entry to database
0.01800060272216797
Successfully updated entry to database
0.01900029182434082
Successfully updated entry to database
0.01900029182434082
Successfully updated entry to database
0.01900029182434082
Successfully updated entry to database
0.02000141143798828
Successfully updated entry to database
0.02000141143798828
Successfully updated entry to database
0.02000141143798828
Successfully updated entry to database
0.02000141143798828
Successfully updated entry to database
0.021000146865844727
Successfully updated entry to database
0.021000146865844727
Successfully updated entry to database
0.021000146865844727
Successfully updated entry to database
0.021999835968017578
Successfully updated entry to database
0.021999835968017578
Successfully updated entry to database
0.021999835968017578
Successfully updated entry to database
0.02299952507019043
Successfully updated entry to database
0.02299952507019043
Successfully updated entry to database
0.02299952507019043
Successfully updated entry to database
0.023999691009521484
Successfully updated entry to database
0.023999691009521484
Successfully updated entry to database
0.023999691009521484
Successfully updated entry to database
0.024999380111694336
Successfully updated entry to database
0.024999380111694336
Successfully updated entry to database
0.024999380111694336
Successfully updated entry to database
0.025999069213867188
Successfully updated entry to database
0.025999069213867188
Successfully updated entry to database
0.025999069213867188
Successfully updated entry to database
0.027002334594726562
Successfully updated entry to database
0.027002334594726562
Successfully updated entry to database
0.027002334594726562
Successfully updated entry to database
0.0280001163482666
Successfully updated entry to database
0.0280001163482666
Successfully updated entry to database
0.0280001163482666
Successfully updated entry to database
0.029000520706176758
Successfully updated entry to database
0.029000520706176758
Successfully updated entry to database
0.029999494552612305
Successfully updated entry to database
0.029999494552612305
Successfully updated entry to database
0.029999494552612305
Successfully updated entry to database
0.030999422073364258
Successfully updated entry to database
0.030999422073364258
Successfully updated entry to database
0.030999422073364258
Successfully updated entry to database
0.03199958801269531
Successfully updated entry to database
0.03199958801269531
Successfully updated entry to database
0.03199958801269531
Successfully updated entry to database
0.03300142288208008
Successfully updated entry to database
0.03300142288208008
Successfully updated entry to database
0.03300142288208008
Successfully updated entry to database
0.03399944305419922
Successfully updated entry to database
0.03399944305419922
Successfully updated entry to database
0.034999847412109375
Successfully updated entry to database
0.034999847412109375
Successfully updated entry to database
0.034999847412109375
Successfully updated entry to database
0.03600025177001953
Successfully updated entry to database
0.03600025177001953
Successfully updated entry to database
0.03600025177001953
Successfully updated entry to database
0.03700065612792969
Successfully updated entry to database
0.03700065612792969
Successfully updated entry to database
0.03700065612792969
Successfully updated entry to database
0.037999629974365234
Successfully updated entry to database
0.037999629974365234
Successfully updated entry to database
0.037999629974365234
Successfully updated entry to database
0.039000511169433594
Successfully updated entry to database

In [19]:
# Update (精簡版)
columns = df.columns.tolist()
param_placeholders = ','.join([f'{col}=%s' for col in columns if col != 'id'])

def update(row):
    try:
        updateStatement = f"UPDATE profile SET {param_placeholders} WHERE id = %s"
        data = tuple(row[col] for col in columns if col != 'id') + (row['id'],)
        cur.execute(updateStatement, data)
        connection.commit()
        print(time.time()-t0)
        print("Successfully updated entry to database")
    except Error as e:
        print(f"Error updating entry to database: {e}")

t0 = time.time()
for index, row in df.iterrows():
    update(row)

0.0009999275207519531
Successfully updated entry to database
0.0029993057250976562
Successfully updated entry to database
0.0039980411529541016
Successfully updated entry to database
0.0039980411529541016
Successfully updated entry to database
0.005000114440917969
Successfully updated entry to database
0.005000114440917969
Successfully updated entry to database
0.006000518798828125
Successfully updated entry to database
0.006000518798828125
Successfully updated entry to database
0.006000518798828125
Successfully updated entry to database
0.00699925422668457
Successfully updated entry to database
0.00699925422668457
Successfully updated entry to database
0.008000850677490234
Successfully updated entry to database
0.008999109268188477
Successfully updated entry to database
0.008999109268188477
Successfully updated entry to database
0.008999109268188477
Successfully updated entry to database
0.009999513626098633
Successfully updated entry to database
0.009999513626098633
Successfully updated entry to database
0.010999202728271484
Successfully updated entry to database
0.010999202728271484
Successfully updated entry to database
0.010999202728271484
Successfully updated entry to database
0.011999845504760742
Successfully updated entry to database
0.011999845504760742
Successfully updated entry to database
0.012998580932617188
Successfully updated entry to database
0.012998580932617188
Successfully updated entry to database
0.012998580932617188
Successfully updated entry to database
0.01399850845336914
Successfully updated entry to database
0.01399850845336914
Successfully updated entry to database
0.01399850845336914
Successfully updated entry to database
0.0149993896484375
Successfully updated entry to database
0.0149993896484375
Successfully updated entry to database
0.01599907875061035
Successfully updated entry to database
0.01599907875061035
Successfully updated entry to database
0.01599907875061035
Successfully updated entry to database
0.016999483108520508
Successfully updated entry to database
0.016999483108520508
Successfully updated entry to database
0.016999483108520508
Successfully updated entry to database
0.01799917221069336
Successfully updated entry to database
0.01799917221069336
Successfully updated entry to database
0.018998146057128906
Successfully updated entry to database
0.018998146057128906
Successfully updated entry to database
0.018998146057128906
Successfully updated entry to database
0.018998146057128906
Successfully updated entry to database
0.019997835159301758
Successfully updated entry to database
0.019997835159301758
Successfully updated entry to database
0.020998716354370117
Successfully updated entry to database
0.020998716354370117
Successfully updated entry to database
0.020998716354370117
Successfully updated entry to database
0.02199840545654297
Successfully updated entry to database
0.02199840545654297
Successfully updated entry to database
0.02199840545654297
Successfully updated entry to database
0.02299809455871582
Successfully updated entry to database
0.02299809455871582
Successfully updated entry to database
0.02299809455871582
Successfully updated entry to database
0.02399897575378418
Successfully updated entry to database
0.02399897575378418
Successfully updated entry to database
0.02499985694885254
Successfully updated entry to database
0.02499985694885254
Successfully updated entry to database
0.02499985694885254
Successfully updated entry to database
0.025999069213867188
Successfully updated entry to database
0.025999069213867188
Successfully updated entry to database
0.025999069213867188
Successfully updated entry to database
0.02699875831604004
Successfully updated entry to database
0.02699875831604004
Successfully updated entry to database
0.02699875831604004
Successfully updated entry to database
0.027998924255371094
Successfully updated entry to database
0.027998924255371094
Successfully updated entry to database
0.028840303421020508
Successfully updated entry to database
0.028998374938964844
Successfully updated entry to database
0.028998374938964844
Successfully updated entry to database
0.028998374938964844
Successfully updated entry to database
0.029998064041137695
Successfully updated entry to database
0.029998064041137695
Successfully updated entry to database
0.030998706817626953
Successfully updated entry to database
0.030998706817626953
Successfully updated entry to database
0.030998706817626953
Successfully updated entry to database
0.031998395919799805
Successfully updated entry to database
0.031998395919799805
Successfully updated entry to database
0.031998395919799805
Successfully updated entry to database
0.03299832344055176
Successfully updated entry to database
0.03299832344055176
Successfully updated entry to database
0.03299832344055176
Successfully updated entry to database
0.03399848937988281
Successfully updated entry to database
0.03399848937988281
Successfully updated entry to database
0.03399848937988281
Successfully updated entry to database
0.034998178482055664
Successfully updated entry to database
0.034998178482055664
Successfully updated entry to database
0.034998178482055664
Successfully updated entry to database
0.03599834442138672
Successfully updated entry to database
0.03599834442138672
Successfully updated entry to database
0.03599834442138672
Successfully updated entry to database
0.03699851036071777
Successfully updated entry to database
0.03699851036071777
Successfully updated entry to database
0.03699851036071777
Successfully updated entry to database
0.03800034523010254
Successfully updated entry to database
0.03800034523010254
Successfully updated entry to database
0.03800034523010254
Successfully updated entry to database
0.03899812698364258
Successfully updated entry to database
0.03899812698364258
Successfully updated entry to database
0.03999829292297363
Successfully updated entry to database
0.03999829292297363
Successfully updated entry to database

In [17]:
if connection.is_connected():
    # close the database connection
    connection.close()
    print("資料庫連線已關閉。")
else:
    print("資料庫連線未開啟。")

資料庫連線已關閉。